[submodule "prezto/.zprezto"]
	path = prezto/.zprezto
	url = https://github.com/fresus/prezto.git
[submodule "vim/.spf13-vim-3"]
	path = vim/.spf13-vim-3
	url = https://github.com/spf13/spf13-vim.git
[submodule "vim/.vim/bundle/vundle"]
	path = vim/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
